


/* .bg-color{
    background-color: rgb(2, 2, 52) !important;
    position: fixed; */
    /* position: absolute; */
.bg-school{
    box-shadow: 0px 0px 5px 5px ;
    color: #06422e;
    border: 2px solid #06422e;
    background-color: #a5f0d7;
    margin-top: 30px;
    
    /* color: #06422e; */
} 
.button-style{
    width: 175px;
    height: 45px;
    border-radius: 30px;
    background-color: green;
    color: #06422e;
}
.cv-color{
    color: white;
}
.button-style:hover{
    padding: 10px 10px;
    box-shadow: 5px 5px;
}

.edu-spacing{
    margin-bottom: 6rem;
  
}
.navbar{
    background-color: #06422e !important;
}
.nav-link:hover { 
    color: aqua !important;

}
#intro{
    background-color: #a5f0d7;
    /* height: 600px; */
    background-repeat: repeat-x;
    background-size: cover;
    padding-bottom: 50px;
    /* color: #06422e ; */

}
.home-img{
    width: 100%;
    border-radius: 25px;
}
.clg{
    text-decoration: underline;
    color: black;
}

.text-align-justify span a{
text-decoration: none;
}
.bg-colors{
    /* margin-top: 100px; */

}
.con-size{
    width: 82%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.row-margin{
    margin-right: 0 !important;
    align-items: center;
    
}
.bg-colors img{
    width: 500px;
    /* margin-left: 90px; */
}
.navbar-nav .nav-item .nav-link {
    color: #fff;
}
.navbar .navbar-brand{

    color: #fff;
    /* left:5 ; */
    /* position: fixed; */
}
.p-size{
    font-size: 14px;
    font-style: italic;
}
.about{
    width: 50%;
    /* border: 5px solid rgb(2, 2, 81); */
    /* margin-top: 30px; */
}
 .text-align-justify{
    text-align: center;
}
 /*.navbar-nav { 
    /* position: fixed; */
    /* right: 0; */
    /* margin-right: 30px; */


.study-style{
    font-style: italic;
    font-weight: 500;
}
.education-border{
    border: 4px solid #06422e;

    margin-top: 6rem !important;

    /* background-color:aliceblue; */
}
.year-stl{
    font-weight: bold;
    padding-top: 86px;
}
.clg span img{
    width: 15px;
    /* border: 2px solid darkblue; */
}
.icon-size{
    /* width: 20px; */
    /* background-color:  !important; */
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.contact{
    background: url('/portfolio/imagess/High_resolution_wallpaper_background_ID_77700343819.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
::placeholder{

    font-style: italic;
    /* color: rgb(164, 162, 162); */
}
.sub-button{
    width: 200px;
    height: 40px;
}
#Education p a:hover{
    color: rgb(27, 27, 193);
}
.about-width{
    width: 75%;
    margin-top: 6rem !important;
}

.about-img-border{
    border-radius: 25px;
    width: 100%;
    box-shadow: 0px 0px 10px 10px;
    color: #06422e ;
    
}

  /* .hovers{
    position: absolute;
  } */
  

  .text-align-center{
    text-align: center;

  }

  .edu-margin-top{
    margin-top: 7rem !important;
  }
  .skill-spacing{
    padding-top: 6rem !important;
  }
  #skill
  {
    /* background-color: #a5f0d7; */
    background-repeat: repeat-x;
    background-size: cover;
    padding-bottom: 50px;
    /* color: white; */
  }

  /* .skill-img:hover {
    box-shadow: 10px 10px;
    color: #06422e;
    background-color:#a5f0d7;
    padding: 20px 20px ;

  } */


  #footer a p,#footer p{
    text-decoration: none;
    color: white;
  }
  
  #footer{
    background-color: #06422e; ;
  }
  .column-md {
    position: relative;
    
  }

  .skill-img {
    /* display: block;s */
    width: 125px;

    height: auto;  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #a5f0d7;
    overflow: hidden;
    width: auto;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    text-align: center;
    box-shadow: 0px 0px 20px 20px;
    color: #06422e;
  }
  
  .column-md:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    height: 80%;
    width: 80%;
   
  }

  #contact input{
    border: 3px solid;
  }

  #contact textarea{
    border: 3px solid;
  }

  #skill .text{
    height: 100%;
  }

 .column-md{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #000;
    
 }
 /* #skill .col-lg-3{
    width: 26%;
 } */
 #skill .row{
    justify-content: space-between;
    row-gap: 35px;
    column-gap:1px
 }
 /* .column-md p{
    font-size: 20px;
 } */
.text img{
    height: 80%;
}
.justify-content-plant{
  justify-content: space-evenly;
}
.justify-content-plant img{
  height: 140px;
}








 @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) 
 {
  
    .about{
        width: 80%;
    }
    
    
    
  }
  @media (min-width: 768px) and (max-width: 1024px){
  .column-md{
    width: 50%; 
     /* margin:auto; */
  }
}
@media (max-width: 620px){
  .container{
    width: 80%;
  }
}

  @media (min-width:550px) and (max-width:767px){
    .column-md{
        width: 50%;

    }
  }
  #intro a button{
    margin-bottom: 30px;
  }

  #skill .column-md{
    /* width: 80%;  */
     margin:auto;
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 351px) and (max-width: 767px) {
    
    /* CSS */
  
    .about{
        width: 80%;
        /* border: none; */
    }
    .order1{
        order: 1;
        margin-bottom: 40px;
    }
    .order2{
        order: 2;
    }
    .fname-margin{
        margin-bottom: 20px;
    }
    #intro a button{
        margin-bottom: 30px;
      }

      #skill .column-md{
        /* width: 80%; */
        margin: auto;
      }
     
    
  }
  @media (min-width: 490px) and (max-width: 767px){
    #intro .row{
      margin-top: 100px;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (max-width: 350px) 
    {
    /* CSS */
    .about{
        width: 80%;
        border: none;
        
    }
    .order1{
        order: 1;
        margin-bottom: 50px;
    }
    .order2{
        order: 2;
        
    }
    #intro a button{
        margin-bottom: 30px;
      }
    .fname-margin{
        margin-bottom: 20px;
    }
    #intro .bg-colors{
        margin-top: 30px;
      }

      #skill .column-md{
        /* width: 80%; */
        margin: auto;
      }
    
        
    
  }
 